<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.auth0.com/js/lock/10.12.0/lock.min.js"></script>
  <script>
    var lock = new Auth0Lock(
      "ddCpIAzWF0jU4N4XDWggADYI1ASUdIml",
      "fallenman13.eu.auth0.com",
      {
        auth: {
          redirectUrl: "<%=redirURL%>",
          responseType: "code",
          params: {
            scope: "openid name email picture"
          }
        }
      }
    );

    document.addEventListener("DOMContentLoaded", function(event){
      document.getElementById("sign_in").addEventListener("click", function(){
        lock.show();
      });
    });
  </script>
  <style>
    @media only screen and (max-width: 768px) {
      #login {
        width: auto;
      }
    }
    form{
      margin: 0 auto;
      width: 300px;
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
      background-color: #D0DDFF;
    }

    form div + div{
      margin-top: 1em;
    }

    label{
      display: inline-block;
      width: auto;
      text-align: left;
      font: 1em sans-serif;
    }

    input{
      font: 1em sans-serif;
      width: 300px;
      box-sizing: border-box;
      border: 1px solid #999;
    }

    input:focus{
      border-color: #000;
    }

    .button{
      padding-left: 70px;
    }

    button{
      margin-left: 2.5em;
      font: 1em sans-serif;
    }
  </style>
</head>
<form id="login">
  <label>Click here to sign in with a social account and enter the chatroom:</label>
  <div class="button">
    <button type="button" id="sign_in">Log in</button>
  </div>
</form>
</html>
